body{
    margin: 0px;
    background-color:#EDEEEF;
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    /* position: relative; */
    top: 100px;
    left: 590px;
}

#square{
    margin: auto;
    position: absolute;
    text-align: center;
    top: 200px;
    left: 500px;
    padding-bottom: 100px;
    width: 550px;
    height: 500px;
    background-color: white;
    border-radius: 50px;
}
#square h1{
    padding: 40px 0px 50px 0px;
    font-size: 50px;
    color: #343F4B;
}
input[type=submit] {
    width: 70%;
    height: 15%;
    font-size: 30px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    /* text-align: center; */
}
  
input[type=submit]:hover {
    background-color: #45a049;
}

#pad{
    justify-content: center;
    padding-bottom: 700px;
}


